
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

:root {
    --main-color: #222831;
    --background-color: #EEEEEE;
    --dark-grey: #31363F;
    --light-green: #76ABAE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}
h1 {
    font-size: 4rem;
    font-weight: 900;
}
h2 {
    font-size: 3rem;
    font-weight: 900;
}
header{
    background-color: var(--dark-grey);
    color: var(--background-color);
    text-align: center;
    padding: 2rem 1rem;
}
.main-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
section.right-color {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--light-green);
    color: var(--dark-grey);
    text-align: center;
}
.color-rgb {
    font-weight: 900;
    font-size: 2.5rem;
    margin: 3rem auto;
}
.scores {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.scores > div {
    border: 2px solid var(--dark-grey);
    width: 12rem;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 1rem;
}
.right-wrong {
    display: flex;
}
.hidden {
    display: none;
}
#correct, #wrong{
    width: 100%;
    background: #4CAF50;
    font-size: 2rem;
    padding: 5px;
    color: var(--background-color);
}
#wrong {
    background-color: #f44336;
}
button#play-again {
    border: 2px solid var(--dark-grey);
    font-weight: 900;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    color: var(--dark-grey);
    background-color: var(--background-color);
    cursor: pointer;
    max-width: 25rem;
    margin: 2rem auto;
    transition: background-color 0.3s ease-in-out;
}
button#play-again:hover {
    background-color: var(--light-green);
}
section.colors-options {
    width: 90%;
    align-self: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    max-width: 80rem;
    margin: 2rem auto;
}
.square{
    background: chocolate;
    width: 30%;
    padding-top: 30%;
    cursor: pointer;
}
@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        height: calc(100vh - 88px);
    }
    section.right-color {
        width: 30%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}


